<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Days Info</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'challenges/first.css' %}">
</head>

<body>
    <main class="info-page">
        <div class="info-card">
            <h1>This is the First Page</h1>
            <h2>This is Static Data</h2>
            <a href="/challenges" class="back-button">Back to Days</a>
        </div>
    </main>
</body>
</html>